<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Puzzles</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/cart" Match="NavLinkMatch.All">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </span> Cart
            </NavLink>
            <NavLink class="nav-link" href="/wishlist" Match="NavLinkMatch.All">
                <span>
                    <svg class="bi" width="17" height="15" viewBox="0 0 17 15" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.37379 2.28678L7.97993 1.82633C7.97997 1.82637 7.97971 1.82607 7.97959 1.82593C7.97948 1.8258 7.97952 1.82585 7.97926 1.82556L7.97254 1.81802C7.96568 1.81041 7.95411 1.79779 7.93794 1.78087C7.90559 1.74699 7.85503 1.69607 7.78721 1.63372C7.65124 1.50872 7.44794 1.3397 7.18501 1.17036C6.65785 0.830848 5.90721 0.5 4.98376 0.5C2.70559 0.5 0.858774 2.34682 0.858765 4.625C0.858763 5.15288 0.970515 5.71956 1.15594 6.22638C1.34332 6.73854 1.59183 7.15149 1.83678 7.39648C3.21145 8.77145 4.93032 10.4902 6.30553 11.8652L8.02461 13.5839L8.35881 13.918L8.7105 13.5665L10.4587 11.8188C11.8495 10.4284 13.5681 8.70976 14.88 7.39661C15.1245 7.15188 15.3732 6.7388 15.5609 6.22645C15.7467 5.71945 15.8588 5.15267 15.8588 4.625C15.8588 2.34683 14.0119 0.5 11.7338 0.5C10.759 0.5 10.0093 0.833112 9.50046 1.16776C9.24563 1.33534 9.05299 1.50227 8.92593 1.62511C8.86254 1.68638 8.81593 1.73625 8.78652 1.7691C8.77182 1.78551 8.76146 1.79762 8.75549 1.80473L8.74998 1.81137L8.74985 1.81153L8.74953 1.81193L8.37379 2.28678ZM8.37379 2.28678L8.74952 1.81194L8.37379 2.28678Z"
                            stroke="white" />
                    </svg>
                </span> Wishlist
            </NavLink>
            <NavLink class="nav-link" href="/user" Match="NavLinkMatch.All">
                <span>
                    <svg class="bi" width="17" height="15" viewBox="0 0 17 15" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.37379 2.28678L7.97993 1.82633C7.97997 1.82637 7.97971 1.82607 7.97959 1.82593C7.97948 1.8258 7.97952 1.82585 7.97926 1.82556L7.97254 1.81802C7.96568 1.81041 7.95411 1.79779 7.93794 1.78087C7.90559 1.74699 7.85503 1.69607 7.78721 1.63372C7.65124 1.50872 7.44794 1.3397 7.18501 1.17036C6.65785 0.830848 5.90721 0.5 4.98376 0.5C2.70559 0.5 0.858774 2.34682 0.858765 4.625C0.858763 5.15288 0.970515 5.71956 1.15594 6.22638C1.34332 6.73854 1.59183 7.15149 1.83678 7.39648C3.21145 8.77145 4.93032 10.4902 6.30553 11.8652L8.02461 13.5839L8.35881 13.918L8.7105 13.5665L10.4587 11.8188C11.8495 10.4284 13.5681 8.70976 14.88 7.39661C15.1245 7.15188 15.3732 6.7388 15.5609 6.22645C15.7467 5.71945 15.8588 5.15267 15.8588 4.625C15.8588 2.34683 14.0119 0.5 11.7338 0.5C10.759 0.5 10.0093 0.833112 9.50046 1.16776C9.24563 1.33534 9.05299 1.50227 8.92593 1.62511C8.86254 1.68638 8.81593 1.73625 8.78652 1.7691C8.77182 1.78551 8.76146 1.79762 8.75549 1.80473L8.74998 1.81137L8.74985 1.81153L8.74953 1.81193L8.37379 2.28678ZM8.37379 2.28678L8.74952 1.81194L8.37379 2.28678Z"
                            stroke="white" />
                    </svg>
                </span> Wishlist
            </NavLink>
        </div>
    </nav>
</div>