@page "/"

<PageTitle>Home</PageTitle>

<div class="main">
  <ul class="puzzle-cards">
    @if (puzzles != null)
    {
      @foreach (var puzzle in puzzles)
      {
        <div>
        <li>
          <img  width="200px"src="@puzzle.ImageUrl" alt="Puzzle Image" />
          <div class="puzzle-info">
              <span class="title">@puzzle.Name</span>
                  @puzzle.Description
                <span class="price">@puzzle.GetFormattedBasePrice()</span>
          </div>
        </li>
        </div>
      }
    }
  </ul>
</div>

@code {
@using Puzzles.Data;

List<PuzzleList> puzzles = new();

protected override void OnInitialized()
{
    puzzles.AddRange(PuzzleData.GetPuzzles());
}
}