@page "/order-confirm"

<PageTitle>Order Confirmed</PageTitle>

<div class="main">
    <h1>Order Placed</h1>
    <a href="/" style="display: block;
  width: 250px;
  margin-top: 25px;
  text-align: center;
  background-color: #1b6ec2;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  border-radius: 5px;">Home</a>
</div>
