@page "/wishlist"
@rendermode InteractiveServer


<h3>Wishlist</h3>

@if (WishlistState.Wishlist.WishlistPuzzles.Count > 0)
{
    <ul>
        @foreach (var puzzle in WishlistState.Wishlist.WishlistPuzzles)
        {
            <li>
                @puzzle.Name
                <button @onclick="() => WishlistState.RemoveFromWishlist(puzzle)">Remove from Wishlist</button>
                <button @onclick="() => CartState.AddToCart(puzzle)">Add to Cart</button>
            </li>
        }
    </ul>
}
else
{
    <p>Your wishlist is empty.</p>
}

@code {
    @inject WishlistState WishlistState
    @inject CartState CartState
    @using Puzzles.Services
    Puzzles.Wishlist wishlist => WishlistState.Wishlist;


}